{% extends 'base.html' %}

{% load static %}

{% block mainblock %}
    <div class="inner cover">
            <iframe width="600" height="420" src="//www.youtube.com/embed/kp8PmgPW_AI?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <br/><br/>
            <p class="lead">
              <a href="{{ stop_url }}" class="btn btn-lg btn-default">Stop watching</a>
            </p>
    </div>

{% endblock %}

{% block scripts %}
{#    <script src="{% static 'js/on_close.js' %}"></script>#}
{% endblock %}